body{
    width:100%;
    height:100%;
    margin:0;
    background-color:rgb(255, 255, 255);
    overflow: hidden;
    z-index: 2;
}
.wraper{
    width:100vw;
    height:100vh;
    display:grid;
    grid-template-rows: 60px 1fr;
}

.wrap-staff-footer{
    overflow-y:scroll;
    overflow-x: hidden;
    display:grid;
    grid-template-rows: 1fr auto;
}

.header{
    width:100vw;
    background-color:rgb(108, 45, 243);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 60px 1vw 60px;
}

.header-width-limiter{
    display: grid;
    align-items: center;
    padding-left:1vw;
}

.staff{
    padding-left:10px;
    width:100vw;
    background-color:rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit,700px);
    grid-gap:10px;
}

.date{
    color:rgb(116, 116, 116);
    font-size:14px;
}

.image-box{
    width:500px;
    height: 690px;
    transition:height 0.3s;
    background-color:#fff;
    box-shadow: 0 2px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin:2vh auto;
    display: grid;
    grid-template-rows: 60px 500px 60px 70px;
}

.image-head{
    display: grid;
    grid-template-columns: 1fr 30px 1vw 30px;
    padding:10px 10px 15px 0;
}

.image-like{
    display: grid;
    align-content: center;
    grid-template-columns: 30px 10px auto;
    padding:5px 15px 15px 10px;
}

@media (max-width: 520px) {
    .image-box{
        width:calc(100% - 20px);
        margin-left:0;
        margin-right:20px;
        background-color:rgb(255, 255, 255);
    }
    .todel{
        display: none;
    }
    .filter-info{
        min-width:40vw !important;
    }
    .footer{
        width:100vw !important;
    }
}

.image-staff{
    height:500px;
    width:100%;
}

.footer{
    margin-top:1vh;
    width:calc(100vw - 20px);
    background-color:rgb(177, 42, 255);
    display: grid;
    grid-template-columns:1fr auto auto auto auto auto 1fr;
}

.footer-block{
    margin:0 2vw;
}

.search-btn{
    height:100%;
    width:100%;
}

.menu-btn{
    height:60px;
    width:60px;
}

h2{
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-weight: 200;
    font-size:30px;
    margin:0;
}

.h2{
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-weight: 200;
    font-size:30px;
    margin:0;
    text-align: center;
    display:grid;
    align-content: center;
}

.edit-btn, .delete-btn{
    width:30px;
    height:30px;
}

.like-btn{
    width:30px;
    height: 30px;
    float: left;
}

.like-count{
    font-weight: 600;
    font-size:20px;
}

.like-text{
    width:calc(100% - 30px);
    height:30px;
    display: flex;
    align-items: center;
}

.image-info{
    display:grid;
    align-items: center;
    padding-left:2%;
    font-size:20px;
    margin-bottom: 1vw;
}

.image-desc{
    font-weight: 200;
}

.hashtag{
    text-decoration:none;
}

.filter-info{
    position: absolute;
    display:none;
    font-size: 20px;
    min-width:400px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap:1vw;
    padding:5px;
    background-color:rgb(168, 19, 255);
    box-shadow:0 2px 0 0 #5300be, 0 0 0 1px #5300be;
    right:30px;
    top:70px;
    border-radius:10px;
}

.join-button{
    font-size:20px;
    color:#fff;
    font-weight:600;
    width:30%;
    margin-left:70%;
    border:0;
    border-radius: 5px;
    background-color:rgb(111, 0, 255);
}

.button{
    font-size:20px;
    color:#fff;
    font-weight:400;
    border:0;
    border-top: 2px solid black;
    border-radius: 5px;
    background-color:rgb(111, 0, 255);
}

#add{
    align-self:center;
    border-bottom: 2px solid black;
}

.background{
    width:100vw;
    height:100vh;
    background-image:url( https://image.ibb.co/jpMUqS/image.png);
    background-size:cover;
    display:grid;
    border-radius: 10px;
}

.inputForm{
    width:320px;
    height: 150px;
    display: grid;
    grid-gap:5px;
    grid-template-rows: 1fr 1fr 30px;
}

.logonBlock{
    box-shadow: 0 2px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    background-color: rgba(255, 255, 255, 0.452);
    align-self:center;
    justify-self: center;
    display: grid;
    align-content: center;
}
.logo{
    justify-self: end;
}

.submit{
    color:#fff;
    background-color:rgb(12, 128, 12);
    border:0;
    border-radius: 5px;
}

.inputfield{
    outline:none;
    border: 0;
    border-bottom: 2px solid grey;
}

.head{
    display:grid;
    grid-template-columns: 1fr 100px;
    border-bottom: 2px solid grey;
    align-content: center;
}

#userMenu{
    position: absolute;
    right:20px;
    border-radius:5px;
    top:61px;
    padding:3px;
    background-color:rgba(112, 85, 173, 0.842);
    display:none;
    height:100px;
    grid-template-rows:1fr 1fr 1fr;
    width:200px;
}

#logoff-button{
    align-self: center;
    background-color:rgb(111, 0, 255);
    font-size: 20px;
    font-weight: 300;
    border-radius:5px;
    color:#fff;
    border: 0;
    border-top: 2px solid black;
}
